# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.metadata
.project
.classpath
.springBeans
.factorypath
*.launch
.settings/
/bin/
/target/
CVS/

.vscode/